doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    title Animeishon Studio
    link(rel='icon', href='favicon.png', type='image/png')
    link(rel='shortcut icon', href='favicon.ico', type='img/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600', rel='stylesheet', type='text/css')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    link(href='css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='css/responsive.css', rel='stylesheet', type='text/css')
    link(href='css/animate.css', rel='stylesheet', type='text/css')
    //if IE
      style(type='text/css').
        .pie {behavior:url(PIE.htc);}
    script(type='text/javascript', src='js/jquery.1.8.3.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/jquery-scrolltofixed.js')
    script(type='text/javascript', src='js/jquery.easing.1.3.js')
    script(type='text/javascript', src='js/jquery.isotope.js')
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/wow.js')
    script(type='text/javascript', src='js/classie.js')
    script(type='text/javascript', src='js/collapse.js')
    script(src='contactform/contactform.js')
    script(src='js/i18n/CLDRPluralRuleParser.js')
    script(src='js/i18n/jquery.i18n.js')
    script(src='js/i18n/jquery.i18n.messagestore.js')
    script(src='js/i18n/jquery.i18n.fallbacks.js')
    script(src='js/i18n/jquery.i18n.language.js')
    script(src='js/i18n/jquery.i18n.parser.js')
    script(src='js/i18n/jquery.i18n.emitter.js')
    script(src='js/i18n/jquery.i18n.emitter.bidi.js')
    script(src='js/i18n/main-jquery_i18n.js')
    //
      =======================================================
      =======================================================
    // Heatmap Code
    script.
      (function(h,e,a,t,m,p) {
      m=e.createElement(a);m.async=!0;m.src=t;
      p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
      })(window,document,'script','https://u.heatmap.it/log.js');
    // DO NOT MODIFY
    // End Heatmap Code
    // Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1600163683625330'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1600163683625330&ev=PageView&noscript=1')
    // DO NOT MODIFY
    // End Facebook Pixel Code
    // Google Analytics Code
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-87301560-1', 'auto');
      ga('send', 'pageview');
    // DO NOT MODIFY
    // End Google Analytics Code
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TKS7GKT');
    // End Google Tag Manager
  // Facebook Pixel Code
  script.
    fbq('track', 'Search');
  // End Facebook Pixel Code
  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TKS7GKT', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    header#header.header
      // header-start
      div#lang-switch-container
        a.lang-switch(href='#', data-locale='en') 🍔
        a.lang-switch(href='#', data-locale='es') 🌮
      a(href='#explanatory')
      if expressFlash.length > 0
        .flash__message
          p #{ expressFlash }
          span#close(onclick='this.closest("div").remove(); return false;')
            i.fa.fa-times(aria-hidden='true')
      .col-sm-offset-8.col-sm-4.col-xs-offset-4.col-xs-4.redes.mobile_margin
        a(href='https://www.facebook.com/animeishonstudio/?fref=ts', target='_blank')
          i.fa-facebook-square.fa_prop.nottoday
        a(href='https://www.facebook.com/animeishonstudio/?fref=ts', target='_blank')
          i.fa-instagram.fa_prop.nottoday
        a(href='https://www.facebook.com/animeishonstudio/?fref=ts', target='_blank')
          i.fa-behance.fa_prop.nottoday
      .shield
          img#animeishon_logo(src='img/animeishon_logo.png')
        video#bgvid(playsinline='', autoplay='', muted='', loop='', poster='img/animeishon_hero2.gif')
          source(src='img/animeishon_hero.webm', type='video/webm')
          source(src='img/animeishon_hero.mov', type='video/mp4')
      .container#header-form.collapse.in
        form.contactForm(action='/contacto', method='post', role='form')
          .row.header-text
            p.col-md-7#loc-action-form-text
            p.col-md-5#loc-action-form-tel 55 35 22 16 81
          .form-group
            input#email.form-control.input-text(type='email', name='email', placeholder='E-Mail o teléfono', data-rule='email', data-msg='Please enter a valid email')
            .validation
          .form-group
            select#service.form-control.input-text(name='service', required='')
              option Servicio
              option Branding
              option Animación
              option Diseño
              option Paquete
          .form-group
            input#subject.form-control.input-text(type='text', name='subject', placeholder='Cupón (opcional)', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
            .validation
          .text-center
            button.input-btn(onclick="goog_report_conversion('')", type='submit') Enviar
      div
        button.closeform(type='button', data-toggle='collapse', data-target='#header-form')  X 
        #header-form.collapse.in
    // header-end
    nav#test.main-nav-outer
      // main-nav-start
      .container
        ul.main-nav
          li
            a#loc-explanatory(href='#explanatory')
          li
            a#loc-design(href='#service')
          li
            a#loc-animation(href='#animacion')
          li
            a#loc-portfolio(href='#Portfolio')
          li.small-logo
            a(href='#header')
              img(src='img/small-logo.png')
          li
            a#loc-clients(href='#team')
          li
            a#loc-contact(href='#contact')
          li
            a#link_blog(href='http://blog.animeishon.studio', target='_blank') Blog
          li
            a(href='#contact') Tel: 55 35 22 16 81
        a.res-nav_click(href='#')
          i.fa-bars
    #explanatory
      #padtop.gradientback
        .section
          .section
            .container
              .row
                .col-sm-4
                  img#padimg.img-responsive(src='img/80_logo.png')
                .col-sm-8
                  h1#loc-intro-title
                  p#loc-intro-desc
          .section
            .container
              .row
                .col-sm-4
                  h2.padtop#loc-intro-design
                  img.img-responsive(src='img/coche_diseno.png')
                  a#padtop(href='#diseño')
                    center#loc-intro-action1
                .col-sm-4
                  h2.padtop#loc-intro-animation
                  img.img-responsive(src='img/tele_animacion.png')
                  a#padtop(href='#animacion')
                    center#loc-intro-action2
                .col-sm-4
                  h2.padtop#loc-intro-packs
                  img.img-responsive(src='img/combo_paquetes.png')
                  a#padtop(data-toggle='modal', data-target='#myModal2')
                    center#loc-intro-action3
    // main-nav-end
    //
      <div id="floating-info">
      <a href="#contact">
      <p>Contáctanos</p>
      <p>Tabasco 242, Roma Norte
      <br>info@steed.mx
      <br> 55<span class="num-divisor">-</span>2259<span class="num-divisor">-</span>6898
      <a target="_blank" href="http://blog.animeishon.studio">Blog</a>
      </p>
      </a>
      </div>
    section#service.main-section
      // main-section-start
      .container
        h2#loc-section-design
        h6
        .row
          .col-lg-4.col-sm-6.wow.fadeInLeft.delay-05s
            .service-list
              .service-list-col1
                i
                  img(src='img/icono-02.png', alt='')
              .service-list-col2
                h3#loc-section-design-webdev
                p#loc-section-design-webdev-content
            .service-list
              .service-list-col1
                i
                  img(src='img/icono-03.png', alt='')
              .service-list-col2
                h3#loc-section-design-appdev
                p#loc-section-design-appdev-content
            .service-list
              .service-list-col1
                i
                  img(src='img/icono-01.png', alt='')
              .service-list-col2
                h3 Branding
                p#loc-section-design-branding-content
          figure.col-lg-8.col-sm-6.text-right.wow.fadeInUp.delay-02s.center-vertically
            img(src='img/macbook-pro.gif', alt='')
    // main-section-end
    section#animacion.main-section.alabaster
      // main-section alabaster-start
      .container
        .row
          figure.col-lg-5.col-sm-.wow.fadeInLeft
            br
            br
            br
            img(src='img/iphone.gif', alt='')
          .col-lg-7.col-sm-8.featured-work
            h2#loc-section-animation
            p
            .featured-box
              .featured-box-col1.wow.fadeInRight.delay-02s
                i
                  img(src='img/icono-01.png', alt='')
              .featured-box-col2.wow.fadeInRight.delay-02s
                h5 Explainer videos
                p#loc-section-animation-expvids-content
            .featured-box
              .featured-box-col1.wow.fadeInRight.delay-06s
                i
                  img(src='img/icono-03.png', alt='')
              .featured-box-col2.wow.fadeInRight.delay-06s
                h5#loc-section-animation-3dvr
                p#loc-section-animation-3dvr-content
                ul.ver
                  li.ver__desktop
                    a#loc-section-animation-vr-link(data-toggle='modal', data-target='#vrDemoModal')
                  li.ver__mobile
                    a#loc-section-animation-vrmobile-link(href="https://youtu.be/qag12S5OJFg", target="_blank")
                  li
                    a#loc-section-animation-3d-link(href="https://animeishon-studio.itch.io/animeishon-studio-virtual-house-tour", target="_blank")
            .featured-box
              .featured-box-col1.wow.fadeInRight.delay-04s
                i
                  img(src='img/icono-05.png', alt='')
              .featured-box-col2.wow.fadeInRight.delay-04s
                h5 Kinetic Typography
                p#loc-section-animation-kintypo-content
            .featured-box
              .featured-box-col1.wow.fadeInRight.delay-06s
                i
                  img(src='img/icono-02.png', alt='')
              .featured-box-col2.wow.fadeInRight.delay-06s
                h5#loc-section-animation-webcont
                p#loc-section-animation-webcont-content
                // Trigger the modal with a click
                .ver(data-toggle='modal', data-target='#myModal')
                  p#loc-section-animation-examples
            //
              <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-06s">
              <i><img src="img/icono-03.png" alt=""></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-06s">
              <h5>Invitaciones virtuales</h5>
              <p>Creamos animaciones para bodas, cumpleaños y más.</p>
              </div>
              </div>
            a.Learn-More(href='#') Learn More
    // main-section alabaster-end
    section#Portfolio.main-section.paddind
      // main-section-start
      .container
        h2#loc-section-portfolio
        h6#loc-section-portfolio-desc
        .portfolioFilter
          ul.Portfolio-nav.wow.fadeIn.delay-02s
            li
              a.current(href='#', data-filter='*') All
            li
              a(href='#', data-filter='.branding') Branding
            li
              a(href='#', data-filter='.webdesign') Web design
            // <li><a href="#" data-filter=".animation" >Animación</a></li>
      .portfolioContainer.wow.fadeInUp.delay-04s
        .Portfolio-box.branding
          a(target='_blank', href='https://www.facebook.com/Del-taller-524205647782113/?fref=ts')
            img(src='img/taller_hero-01.png', alt='')
          h4 Del Taller
          p2 Branding
        .Portfolio-box.webdesign
          a(target='_blank', href='http://wlb.mx')
            img(src='img/wlb_hero-01.png', alt='')
          h4 We Love Burgers
          p2 Web Design
        .Portfolio-box.webdesign
          a(target='_blank', href='http://quiquiriqui.mx')
            img(src='img/qui_webdesign-01.png', alt='')
          h4 Quiquiriqui
          p2 Web Design
        .Portfolio-box.branding.webdesign
          a(target='_blank', href='http://nuevoingenio.mx')
            img(src='img/nim_branding.jpg', alt='')
          h4 Nuevo Ingenio Mexicano
          p2 Branding & Web Design 
        .Portfolio-box.branding.webdesign
          a(target='_blank', href='http://deluxe.mx')
            img(src='img/deluxe_hero-01.png', alt='')
          h4 Deluxe App
          p2 Branding & Web Design 
        .Portfolio-box.webdesign
          a(target='_blank', href='http://imtt.mx')
            img(src='img/imtt_hero.png', alt='')
          h4 IMTT
          p2 Web Design
        .Portfolio-box.webdesign
          a(target='_blank', href='http://musichunter.mx')
            img(src='img/hunter_hero-01.png', alt='')
          h4 Music Hunter
          p2 Web design
        .Portfolio-box.branding.webdesign
          a(target='_blank', href='http://steed.mx')
            img(src='img/steed_hero-01.png', alt='')
          h4 steed.
          p2 Branding & Web Design
        .Portfolio-box.webdesign
          a(target='_blank', href='http://servifacil.com.mx')
            img(src='img/servifacil_hero.png', alt='')
          h4 Servifácil
          p2 Web Design
    // main-section-end
    section#team.business-talking
      // business-talking-start
      .Clientes
        cont#loc-section-clients
    // business-talking-end
    .c-logo-part
      // c-logo-part-start
    // c-logo-part-end
    section#contact.business-talking
      // business-talking-start
      .container
        cont#loc-section-contact
    // business-talking-end
    .container.business-talking-contact
      section.main-section.contact
        .row
          .col-lg-6.col-sm-7.wow.fadeInLeft
            .contact-info-box.address.clearfix
              h3#loc-section-contact-address
              span
                | Tabasco 242
                br
                | Roma Norte, Ciudad de México, 06700.
            .contact-info-box.phone.clearfix
              h3#loc-section-contact-phone
              span 55 22 59 68 98
            .contact-info-box.email.clearfix
              h3 ✏️ email
              span info@steed.com
            .contact-info-box.hours.clearfix
              h3#loc-section-contact-time
              span
                strong#loc-section-contact-time-montue
                |  8am - 8pm
                br
                strong#loc-section-contact-time-fri
                span#loc-section-contact-time-fri-desc
                br
                strong#loc-section-contact-time-weekend
                span#loc-section-contact-time-weekend-desc
            //
              <ul class="social-link">
              <li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>
              <li class="facebook"><a href="#"><i class="fa-facebook"></i></a></li>
              <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>
              <li class="gplus"><a href="#"><i class="fa-google-plus"></i></a></li>
              <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>
              </ul>
          .col-lg-6.col-sm-5.wow.fadeInUp.delay-05s
            .form
              #sendmessage Tu mensaje ha sido enviado. Gracias!
              #errormessage
              form.contactForm(action='/contacto_mobile', method='post', role='form')
                .form-group
                  input#name.form-control.input-text(type='text', name='name', placeholder='Nombre', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
                  .validation
                .form-group
                  input#email.form-control.input-text(type='email', name='email', placeholder='E-Mail', data-rule='email', data-msg='Please enter a valid email')
                  .validation
                .form-group
                  input#subject.form-control.input-text(type='text', name='subject', placeholder='Título', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
                  .validation
                .form-group
                  textarea.form-control.input-text.text-area(name='message', rows='5', data-rule='required', data-msg='Please write something for us', placeholder='Cuéntanos tu idea')
                  .validation
                .text-center
                  button.input-btn(onclick="goog_report_conversion('')", type='submit') Enviar
    div
      section.megafooter
        .section.section-primary
          .container
            .row
              .col-sm-3
                img#padimg.img-responsive(src='img/animeishon_logo.png')
                p#loc-footer-about
              .col-sm-3
                h4#loc-footer-whyus(contenteditable='true')
                p#loc-footer-whyus-1
                p#loc-footer-whyus-2
                p#loc-footer-whyus-3
              .col-sm-3
                h4(contenteditable='true') Instagram Feed
                div
                  // LightWidget WIDGET
                  script(src='//lightwidget.com/widgets/lightwidget.js')
                  iframe.lightwidget-widget(src='//lightwidget.com/widgets/3ffba35e93f75718836990d834d66458.html', scrolling='no', allowtransparency='true', style='width: 100%; border: 0; overflow: hidden;')
              .col-sm-3
                h4#loc-footer-ouroff
                p Steed @ WE ARE TODOS
                .contact-info-box.address.clearfix
                  p#loc-footer-address
                  span
                    | Tabasco 242
                    br
                    | Roma Norte, Ciudad de México, 06700.
                .contact-info-box.phone.clearfix
                  p#loc-footer-phone
                  span 55 22 59 68 98
    //
      footer.footer
        .container
          .footer-logo
            a(href='#')
              img(src='img/footer-logo.png', alt='')
          span.copyright © steed.mx. Todos los derechos reservados.
          .credits
            a(href='http://steed.mx') steed.mx

    #vrDemoModal.modal.fade(role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-body(style="text-align:center;padding: 100px 0")
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            iframe(width='85%', height='630', src='https://www.youtube.com/embed/qag12S5OJFg', frameborder='1', allowfullscreen='')

    // Gif modal
    #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header(style="border-bottom:none;")
            button.close(type='button', data-dismiss='modal') ×
            h2#loc-section-animation-modal.modal-title
          .modal-body
            .row
              .col-md-4
                img(src='img/manhole_hero.gif', alt='')
              .col-md-4
                img(src='img/luna_hero.gif', alt='')
              .col-md-4
                img(src='img/chela_hero.gif', alt='')
            .row
              .col-md-4
                img(src='img/brainsax_hero.gif', alt='')
              .col-md-4
                a(target='_blank', href='http://www.losrumberos.mx')
                  img(src='img/rumberos_hero.gif', alt='')
              .col-md-4
                a(target='_blank', href='https://www.facebook.com/wizelinemx/')
                  img(src='img/wizeline_hero.gif', alt='')
          .modal-footer(style="border-top:none;")
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    // Paquetes modal
    #myModal2.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h2.modal-title#loc-intro-modal-packs
          .container.col-sm-12
            .row
              .col-sm-4
                img(src='img/paquete_basic.png', alt='')
                .text-center
                  .boton_paquetes
                    a(href='landing', target='_blank') Cotiza 
              .col-sm-4
                img(src='img/paquete_startup.png', alt='')
                .text-center
                  .boton_paquetes
                    a(href='landing', target='_blank') Cotiza 
              .col-sm-4
                img(src='img/paquete_business.png', alt='')
                .text-center
                  .boton_paquetes
                    a(href='landing', target='_blank') Cotiza
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    script(type='text/javascript').
      $(document).ready(function(e) {
      $('#test').scrollToFixed();
      $('.main-nav li a').click(function(){
      $('.main-nav').slideToggle();
      return false
      });
      $('.res-nav_click').click(function(){
      $('.main-nav').slideToggle();
      return false
      });
      });
    script.
      wow = new WOW(
      {
      animateClass: 'animated',
      offset:       100
      }
      );
      wow.init();
    script(type='text/javascript').
      $(window).load(function(){
      $('header a').bind('click',function(event){
      var $anchor = $(this);
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top - 102
      }, 1500,'easeInOutExpo');
      /*
      if you don't want to use the easing effects:
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
      }, 1000);
      */
      event.preventDefault();
      });
      $('#floating-info a').bind('click',function(event){
      var $anchor = $(this);
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top - 102
      }, 1500,'easeInOutExpo');
      /*
      if you don't want to use the easing effects:
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
      }, 1000);
      */
      event.preventDefault();
      });
      $('.main-nav li a').bind('click',function(event){
      var $anchor = $(this);
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top - 102
      }, 1500,'easeInOutExpo');
      /*
      if you don't want to use the easing effects:
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
      }, 1000);
      */
      event.preventDefault();
      });
      })
    script(type='text/javascript').
      $(window).load(function(){
      var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;
      $container.isotope({
      // disable window resizing
      resizable: true,
      masonry: {
      columnWidth: colW
      }
      });
      $(window).smartresize(function(){
      // check if columns has changed
      var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
      if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
      .isotope('reLayout');
      }
      }).smartresize(); // trigger resize to set container width
      $('.portfolioFilter a').click(function(){
      $('.portfolioFilter .current').removeClass('current');
      $(this).addClass('current');
      var selector = $(this).attr('data-filter');
      $container.isotope({
      filter: selector,
      });
      return false;
      });
      });
    //
      Google Code for form completada2 Conversion Page
      In your html page, add the snippet and call
      goog_report_conversion when someone clicks on the
      chosen link or button.
    script(type='text/javascript').
      /* <![CDATA[ */
      goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 975230127;
      w.google_conversion_label = "2ZvUCKjyiGwQr6mD0QM";
      w.google_remarketing_only = false;
      }
      // DO NOT CHANGE THE CODE BELOW.
      goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
      window.location = url;
      }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
      }
      }
      /* ]]> */
    script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion_async.js')
    // Final Google adword conversion
